<!DOCTYPE html>
<html>
  <head>
    <title>GameDevApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Abel&display=swap" rel="stylesheet">
  </head>

  <body>
    <nav>
      <% if member_signed_in? %>
        <%= link_to "Dashboard", my_dashboard_projects_path %> <%# should be dashboard_path %>
        <%= link_to "Browse", browse_path %>
        <%= link_to "Log out", destroy_member_session_path, method: :delete %>
      <% else %>
        <%= link_to "Sign In", new_member_session_path %>
        <%= link_to "Sign Up", new_member_registration_path %>
      <% end %>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
