<h1>New Project</h1>

<%= form_with model: @project do |f| %>
    <div>
        <%= f.label :title %>
        <%= f.text_field :title %>
    </div>
    <div>
        <%= f.label :description %>
        <%= f.text_area :description %>
    </div>
    <div>
        <%= f.label :duration %>
        <%= f.text_field :duration %>
    </div>
    <div>
        <%= f.label :budget %>
        <%= f.text_field :budget %>
    </div>
    <div>
        <%= f.label :images %>
        <%= f.file_field :images %>
    </div>
    <div>
        <h2>Add Role</h2>
        <%= form_with model: @project_role do |f2| %>
            <div>
                <%= f2.label :expertise %>
                <%= select_tag :expertise, options_from_collection_for_select(Expertise.all, "id", "title"), name: 'project_expertise' %>
            </div>
            <div>
                <%= f2.label "Role Description" %>
                <%= f2.text_area "Role Description" %>
            </div>
            <%= f.submit "Add Role" %>
        <% end %>
    </div>
    <%= f.submit "Post Project" %>
<% end %>
