<h1>Browse</h1>

<!-- filter -->
<%= form_with(url: browse_path, method: "get", local: true) do %>
  <%= label_tag(:group, "I want to:") %>
  <%= select_tag(:group, options_for_select(["Hire", "Work"])) %>
  <%= label_tag(:expertise, "a:") %>
  <%= select_tag :expertise, options_from_collection_for_select(Expertise.all, "id", "title"), name: 'project_expertise' %>
  <%= submit_tag("Search") %>
<% end %>

<!-- list results -->
<% if @params[:group] == "Work" then %>
    <!-- display vacant roles matching search criteria -->
    <% @results.each do |role| %>
        <h2><%= role.project.title %></h2>
        <h3><%= role.expertise.title %></h3>
        <p><%= role.description %></p>
    <% end %>
<% else %>
    <!-- display creatives whose expertise matches search criteria -->
    <% @results.each do |member_expertise| %>
        <h2><%= member_expertise.member.full_name %></h2>
        <h3><%= member_expertise.expertise.title %></h3>
        <p><%= member_expertise.member.about_me %></p>

    <% end %>
<% end %>